
<% include ../partials/header %>

    <div class="row">
    <h1 style="text-align: center;">Edit <%= campground.name %></h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
            
            <div class="form-group">
                <input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>">
            </div>
            <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" id="imageUpload" accept="images/*" name="images" multiple>
                    <div>
                    <% campground.images.forEach(function(img, i) { %>
                        <img src="<%= img.url %>" width="70px" />
                        <label for="img<%= i %>">Delete?</label>
                        <input type="checkbox" name="deleteImages[]" class="imageDeleteCheckbox" id="image<%= i %>" value="<%= img.public_id %>">
                   <% }); %>
                </div>
            </div>
            <div class="form-group">
            <input class="form-control" type="text" name="campground[description]" value="<%= campground.description %>">
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input class="form-control" type="text" name="location" id="location" value="<%= campground.location %>">
            </div>
            <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
         <a href="/campgrounds">Go Back</a>
    </div>
   
    </div>
    
    <script>
            //find post edit form
        let postEditForm = document.getElementById('postEditForm');
        //add submit listener to post edit form
        postEditForm.addEventListener('submit', (e) => {
            //find length of uploaded images
            let imageUploads = document.getElementById('imageUpload').files.length;
            //find total number of existing images
            let existingImgs = document.querySelectorAll('.imageDeleteCheckbox').length;
            // find total number of potential deletions
            let imgDeleteions = document.querySelectorAll('.imageDeleteCheckbox:checked').length;
            // figure out if the form can be submitted or not
            let newTotal = (existingImgs - imgDeleteions) + imageUploads
            if(newTotal > 2) {
                e.preventDefault();
                let removalAmt = newTotal - 2;
                alert(`You need to remove at least ${removalAmt} image${removalAmt === 1 ? '': 's'}!`);
            }
        })
        
        </script>
<% include ../partials/footer %>

